<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'My Schedule' %></h1>
    <% description 'Schedule page.' %>
    <% keywords 'schedule page' %>
  </div>
</header>

<br>
<%= link_to "Add Course", courses_path %>
