<section>
<div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="7500">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7">
            <div class="carousel-caption">
              <div class="carousel-text">
                <h1 class="animated fadeInDownBig">Simple to enroll</h1>
                <ul class="list-unstyled carousel-list">
                  <li class="animated bounceInLeft"><i class="fa fa-pencil-square-o"></i><span>Simple to enroll</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-laptop"></i><span>Hassle-free</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-truck"></i><span>On-time delivery</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
            <div class="carousel-img">
              <img src="assets/f2yd/pre.png" class="img-responsive animated bounceInUp" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <div class="carousel-caption">
              <div class="carousel-text">
                <h1 class="animated fadeInDownBig">Easy to Enroll</h1>
                <ul class="list-unstyled carousel-list">
                  <li class="animated bounceInLeft"><i class="fa fa-eye"></i><span>More Than 15 Colors</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-th-large"></i><span>Customizable Components</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>Over 25 pages ready to use</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
            <div class="carousel-img">
              <img src="assets/f2yd/pre2.png" class="img-responsive animated bounceInUp" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-9">
            <div class="carousel-caption">
              <div class="carousel-text">
                <h1 class="animated fadeInDownBig">Hassle-free</h1>
                <ul class="list-unstyled carousel-list">
                  <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>Shortcodes For All Components</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>Page Templates Ready For Use</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-upload"></i><span>Free update for HTML orders</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
            <div class="carousel-img">
              <img src="assets/f2yd/pre3.png" class="img-responsive animated bounceInUp" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-9">
            <div class="carousel-caption">
              <div class="carousel-text">
                <h1 class="animated fadeInDownBig">On-time delivery</h1>
                <ul class="list-unstyled carousel-list">
                  <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>Shortcodes For All Components</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>Page Templates Ready For Use</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-upload"></i><span>Free update for HTML orders</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
            <div class="carousel-img">
              <img src="assets/f2yd/pre3.png" class="img-responsive animated bounceInUp" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</section>
<section id="mind-features">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
             <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                 <div class="item-icon">
                     <i class="fa fa-group"></i>
                 </div>
                 <div class="item-content">
                     <h3>Register</h3>
                     <p>The price tiers range from the basic single shipment of exam forms to a form sent to you before every set of exams along with a mechanical pencil ensuring you will be completely prepared to ace your exam.</p>
                 </div>
             </article>
         </div>
         <div class="col-md-3 col-sm-6">
             <article class="mind-features-item hover animated bounceInLeft animation-delay-3">
                 <div class="item-icon">
                     <i class="fa fa-calendar"></i>
                 </div>
                 <div class="item-content">
                     <h3>Schedule</h3>
                     <p>Once you receive the syllabus for all of your courses, you can either choose to input it yourself or have our team input it for you, making it even easier on you!</p>
                 </div>
             </article>
         </div>
         <div class="col-md-3 col-sm-6">
             <article class="mind-features-item hover animated bounceInRight animation-delay-6">
                 <div class="item-icon">
                     <i class="fa fa-envelope-o"></i>
                 </div>
                 <div class="item-content">
                     <h3>Receive</h3>
                     <p>Your exam forms will either show up in bulk before your first exam or if you choose, the forms will show up 1-3 business days before each set of exams you will need to conquer.</p>
                 </div>
             </article>
         </div>
         <div class="col-md-3 col-sm-6">
             <article class="mind-features-item hover animated bounceInRight animation-delay-10">
                 <div class="item-icon">
                     <i class="fa fa-graduation-cap"></i>
                 </div>
                 <div class="item-content">
                     <h3>Excel</h3>
                     <p>With Forms to Your Door supplying all of your testing materials, you will be able to take your mind off of the stress of remembering your supplies and focus solely on studying for your exams.</p>
                 </div>
             </article>
         </div>
      </div>
  </div>
</section>
<section class="animated fadeIn">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="section-title">About us</h2>
              <img src="assets/f2yd/library.jpg" class="img-responsive alignleft imageborder" alt="Image" style="width: 240px; height: 180px;">
              <p class="p-lg"><span><p>Forms to Your Door is an all-inclusive subscription service which creates a less stressful exam environment for you, the student. We ship the necessary forms for your upcoming exam right to your door or mailbox, hassle-free.</p>
              <p class="p-lg">We have made it our mission to provide our customers with a timely delivery of necessary exam forms.</span></p>
              <p class="p-lg">Once you sign up and input your exam schedule, we do the rest of the work for you.</p>
              <p class="p-lg">We will be opening our doors to all students within the US.</p>
          </div>
      </div>
  </div>
</section>