<section>
<div id="carousel-example-generic" class="carousel carousel-mind">
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="carousel-caption">
              <div class="carousel-text">
                <h1 class="animated fadeInDownBig" id="carousel-title">What if you never worried about Scantron<sup>&reg;</sup> forms again?</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-7">
            <div class="carousel-caption">
              <div class="carousel-text">
                <ul class="list-unstyled carousel-list">
                  <li class="animated bounceInLeft"><i class="fa fa-pencil-square-o"></i><span>Easy to enroll</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-laptop"></i><span>Hassle-free</span></li>
                  <li class="animated bounceInLeft"><i class="fa fa-truck"></i><span>On-time delivery</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section id="mind-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <% if current_user %>
        <% else %>
        <a class="btn btn-default btn-lg btn-block sign-up-button animated bounceInUp" href="/signup" role="button">Sign Up</a>
        <% end %>
        </div>
      <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
      <h1 class="section-title animated bounceInLeft" id="breakline">How It Works</h1>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="col-md-4">
          <div class="mind-box animated bounceInUp animation-delay-12">
            <h4 class="mind-box-title">Schedule</h4>
            <i class="fa fa-calendar"></i>
            <p>Once you receive your syllabus for a course, you can add it to your schedule and we will begin processing your order with the necessary forms.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mind-box animated bounceInUp animation-delay-14">
            <h4 class="mind-box-title">Receive</h4>
            <i class="fa fa-envelope-o"></i>
            <p>Your exam forms show up days before your scheduled exam with one extra form (even the best of us have typos) with a #2 pencil included.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mind-box animated bounceInUp animation-delay-16">
            <h4 class="mind-box-title">Excel</h4>
            <i class="fa fa-graduation-cap"></i>
            <p>With us supplying all of your testing materials, you will be able to take your mind off your supplies and focus on studying for your exams.</p>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</section>
<section class="animated fadeIn">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="section-title">About Us</h2>
              <img src="assets/f2yd/library.jpg" class="img-responsive alignleft imageborder" alt="Image" style="width: 288px; height: 216px;">
              <p class="p-lg">Forms to Your Door is an all-inclusive subscription service which creates a less stressful exam environment for you. We ship the necessary forms for your upcoming exam right to your door or mailbox, hassle-free.</p>
              <p class="p-lg">As former college students, we understand the stressful nature of exams. By providing you with the proper forms, we allow you to focus on what is truly important. (Plus, no more waiting in line at the bookstore 15 minutes before class!)</p>
              <p class="p-lg">We have made it our mission to provide our customers with a timely delivery of necessary exam forms.</p>
              <p class="p-lg">Once you sign up and input your exam schedule, we do the rest of the work for you.</p>
              <p class="p-lg">We will be opening our doors to all students within the US.</p>
          </div>
      </div>
  </div>
</section>
