<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'Add Course' %></h1>
    <% description 'Add Course page.' %>
    <% keywords 'add course page' %>
  </div>
</header>
<div class="row">
  <%= render partial: 'form' %>
</div>
