<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'Edit Exam' %></h1>
    <% description 'Edit Exam page.' %>
    <% keywords 'edit exam page' %>
  </div>
</header>
<div class="row">
  <%= render partial: 'form' %>
</div>
