<header class="wrap-title">
  <div class="container">
    <h1 class="page-title">Pricing</h1>
  </div>
</header>
<div class="container">
  <section>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="active-pricing-box animated fadeInUp animation-delay-9">
          <!--<div class="active-pricing-box-header">
            <h2>Test Taker</h2>
          </div>-->
          <div class="active-pricing-box-price">
              <h2>$2.99<span id="month_text">/mo</span></h2>
          </div>
          <div class="active-pricing-box-content">
            <ul>
              <li><i class="fa fa-truck"></i>Delivery based on exam schedule.</li>
              <li><i class="fa fa-check-square"></i> One extra form per exam.</li>
              <li><i class="fa fa-pencil"></i> #2 pencil included with delivery.</li>
              <!--<li><i class="fa fa-calendar"></i> Perk #2</li>-->
            </ul>
          </div>
          <div class="active-pricing-box-footer">
            <% if current_user %>
                <%= form_tag charges_path do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-name="Forms to Your Door"
                      data-description="$2.99/month"
                      data-amount="299"
                      data-panel-label="Pay {{amount}}">
                  </script>
                <% end %>
              <% else %>
                <button type="button" class="btn btn-default"><%= link_to "Log In to Purchase", login_path %></button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="pricing-box animated fadeInUp animation-delay-7">
          <!--<div class="pricing-box-header">
            <h2>Coming Soon</h2>
            <p></p>
          </div>-->
          <div class="pricing-box-price">
            <h2>Coming Soon</h2>
          </div>
          <div class="pricing-box-content">
            <ul>
              <li><i class="fa fa-truck"></i><strike> This text is white.</strike></li>
              <li><i class="fa fa-check-square"></i><strike> This text is white.</strike></li>
              <li><i class="fa fa-pencil" style="color: #ddd"></i><strike> This text is white.</strike></li>
              <!--<li><i class="fa fa-calendar" style="color: #ddd"></i><strike> This text is white.</strike></li>-->
            </ul>
          </div>
					<div class="pricing-box-footer">
            <button type="button" class="btn btn-default">Coming Soon</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="pricing-box animated fadeInUp animation-delay-7">
          <!--<div class="pricing-box-header">
            <h2>Coming Soon</h2>
            <p></p>
          </div>-->
          <div class="pricing-box-price">
            <h2>Coming Soon</h2>
          </div>
          <div class="pricing-box-content">
            <ul>
              <li><i class="fa fa-truck"></i><strike> This text is white.</strike></li>
              <li><i class="fa fa-check-square"></i><strike> This text is white.</strike></li>
              <li><i class="fa fa-pencil" style="color: #ddd"></i><strike> This text is white.</strike></li>
              <!--<li><i class="fa fa-calendar" style="color: #ddd"></i><strike> This text is white.</strike></li>-->
            </ul>
          </div>
          <div class="pricing-box-footer">
            <button type="button" class="btn btn-default">Coming Soon</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="section-title" id="breakline">Forms We Support</h1>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="img-caption">
          <img src="f2yd/882-E.png" class="img-responsive" alt="Green Scantron">
          <div class="caption">
            <div class="caption-content">
              <h4>Green Scantron</h4>
              <h5>(100 Answers)</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="img-caption">
          <img src="f2yd/parscore.png" class="img-responsive" alt="Green Scantron">
          <div class="caption">
            <div class="caption-content">
              <h4>ParSCORE</h4>
              <h5>(100 Answers)</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="img-caption">
          <img src="f2yd/882-E.png" class="img-responsive" alt="Green Scantron">
          <div class="caption">
            <div class="caption-content">
              <h4>Blue Scantron</h4>
              <h5>(200 Answers)</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="img-caption">
          <img src="f2yd/bluebook.png" class="img-responsive" alt="Green Scantron">
          <div class="caption">
            <div class="caption-content">
              <h4>Blue Book</h4>
              <h5></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>